/* You can add global styles to this file, and also import other style files */

main {
  height: 55rem;
  border-top: 2px solid lightgray;
  border-bottom: 2px solid lightgray;
}

.scrollable {
  overflow-y: scroll;
}

thead th {
  position: sticky;
  z-index: 100;
  top: 0px;
  background-color: white;
}
