<div class="col-md-12">
  <div class="row">
    <div class="col-md-2" style="margin-top: 2.2rem;">
      <nav>
        <ul class="nav nav-pills nav-stacked">
          <li routerLinkActive="active"><a routerLink="/project/list">Liste</a></li>
          <li routerLinkActive="active"><a routerLink="/project/create">Hinzufügen</a></li>
          <li routerLinkActive="active"><a routerLink="/project/edit" disabled >Bearbeiten</a></li>
        </ul>
      </nav>
    </div>
    <div class="col-md-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
